<h2>tabela de importação</h2>

<br>
  <div class="card border-success mb-3 text-center" >
    <div class="card-body ">
      <%= form_tag parse_csv_path, multipart: true do %>
        <%= file_field_tag :file , class: "col-sm-4 col-form-label" %>
        <%= submit_tag 'Importar', class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>

    <%= link_to 'Voltar', vendas_path, class: "btn btn-outline-success"%>
