<h2>tabela de importação</h2>

<br>

    <%= form_tag parse_csv_path, multipart: true do %>
      <%= file_field_tag :file, class: "col-sm-4 col-form-label" %>
      <%= submit_tag 'Importar', class: "btn btn-outline-success" %>
    <% end %>
    <br>

    <%= link_to 'Voltar', vendas_path, class: "btn btn-outline-success"%>
