/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1 {text-align: center;;}
 h2 {text-align: center;}
 button {font-weight: bold;}
 body { padding-top: 50px; }
 header {text-align: center;}
 footer { margin-top: 50px; text-align: center;}
 table { background: #81c784; vertical-align: middle !important; border: 1px solid #000 !important; }
 td, th, tr { border: 0px solid #000 !important; }
 td {text-align: center;}

 .button {
   background-color: #4CAF50;
   border: none;
   border-radius: 12px;
   color: white;
   padding: 10px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }
 .button1 {
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
 }

 .button1:hover {
   background-color: #4CAF50;
   color: white;
 }

 #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
